---
layout: layouts/home.njk
---
{% set maxPosts = collections.posts.length | min(1) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-1) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
