<ol reversed class="posts" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li class="post">
    <h2><a href="{{ post.url | url }}" class="post__link">{{ post.data.title }}</a></h2>
    <time class="post__date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
  </li>
{% endfor %}
</ol>
