---
layout: layouts/home.njk
title: About
templateClass: tmpl-home
eleventyNavigation:
  key: About
  order: 2
---

<img src="/img/me.png" alt="hey" width="250px"/>
<div class="text">
	<p>Something about myself should go in here.</p>
</div>

